<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
</head>
<body>
    <h1>EpicTask</h1>

    <div class="content">
        <form action="/tarefas" method="post">
            <input type="text" name="titulo" id="" placeholder="titulo">
            <textarea name="descricao"  cols="30" rows="10"></textarea>
            <div class="action">
                <a class="btn" href="/tarefas">cancelar</a>
                <button class="btn blue">salvar</button>
            </div>
        </form>
    </div>
</body>
</html>